body{
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: sans-serif;
}

#container{
    height: 720px;
    width: 1515px;
    position: relative;
    background-color: green;
    overflow: hidden;
}

#scorehelp{
    text-align: center;
    font-size: 25px;
    background-color: rgb(255, 58, 68);
}

#branch{
    position: absolute;
    height: 2%;
    width: 100%;
    background-color: rgb(88, 11, 5);
    top: 23%;
}

.hen{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 100px;
    background: url(hen\ png.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}

#hen1{
    left: 20%;
}

#hen1{
    left: 40%;
}

#hen1{
    left: 60%;
}

.egg{
    position: absolute;
    top: 20%;
    height: 45px;
    width: 35px;
    background: url(egg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 100;
}

#egg1{
    left: calc(20% + 8%/2 - 2%/2);
}

#egg2{
    left: calc(40% + 8%/2 - 2%/2);
}

#egg3{
    left: calc(60% + 8%/2 - 2%/2);
}

.bullseye{
    display: none;
    position: absolute;
    bottom: 0%;
    height: 7%;
    width: 7%;
    background: url(broken\ egg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#bullseye1{
    left: calc(20% + 8%/2 - 7%/2);
}

#bullseye2{
    left: calc(40% + 8%/2 - 7%/2);
}

#bullseye3{
    left: calc(60% + 8%/2 - 7%/2);
}

#floor{
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: rgb(88, 11, 5);
    bottom: 0%;
}

#basket{
    height: 100px;
    width: 85px;
    position: absolute;
    bottom: 5px;
    background: url();
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}

#score_1{
    position: absolute;
    color: blueviolet;
    font-size: 30px;
    top: 45%;
    left: 30%;
}

/* #restart{
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: palevioletred;
    color: white;
    top: 40%;
    font-size: 35px;
    display: none;
    
} */

#restart{
    position: absolute;
    height: 50px;
    width: 100px;
    background-color: rgb(255, 58, 68);
    color: black;
    font-size: 25px;
    left: 707px;
    margin-top: 5px;
}

